h1 {
    font-family: fantasy;
    font-weight: bold;
    transform: rotate(-30deg);
    text-align: center;
    margin: 50px 0 0 0 0;
    background-color: pink;
    color: yellow;
}

body{
    Background-color: violet;
}

