h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    transform: rotate(0deg);
    text-align: left;
    margin: 5px;
    background-color: black;
    color: green;
}

p {
    color: green;
    
}

body{
    background: 135%, blue, blueviolet;
    margin: 0 30px 300px 30px;
}

a {
    color: yellow;
    font-size: 40px;
}

